
<div class="container">
  <div class="row ">
    <div class="shopping-cart">
      <div class="shopping-cart-table ">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th class="cart-romove item">Remove</th>
              <th class="cart-description item">Image</th>
              <th class="cart-product-name item">Product Name</th>
              <th class="cart-qty item">Quantity</th>
              <th class="cart-sub-total item">Unit Price</th>
              <th class="cart-total last-item">Sub Total</th>
            </tr>
            </thead><!-- /thead -->
            <tfoot>
            <tr>
              <td colspan="7">
                <div class="shopping-cart-btn">
							<span class="">
								<a href="#" class="btn btn-upper btn-primary pull-right outer-right-xs">Continue Shopping</a>
							</span>
                </div><!-- /.shopping-cart-btn -->
              </td>
            </tr>
            </tfoot>
            <tbody>
            <% @cart_array.each_with_index do |p_hash, index| %>
              <tr>
              <td class="romove-item">
                <%= form_tag(delete_item_cart_index_path, method: 'post', remote: true ) do %>
                  <%= hidden_field :selectedIndex, index %>
                  <%= button_tag(raw(icon('fas', 'trash')), :id=>"button", :name=>"submit") %>
                <% end %>
                <a href="#" title="cancel" class="icon"><i class="fa fa-trash-o"></i></a></td>
              <td class="cart-image">
                <%image_tag p_hash["productImage"], alt: p_hash["name"]%>
              </td>
              <td class="cart-product-name-info">
                <h4 class='cart-product-description'><%= p_hash["name"] %></h4>
              </td>
              <td class="cart-product-quantity">
                <div class="quant-input">
                  <div class="arrows">
                    <%= form_tag(reload_quantity_cart_index_path, method: 'post', remote: true ) do %>
                      <%= hidden_field :selectedId, p_hash["id"].to_i %>
                      <%= number_field_tag :quantity, p_hash["quantity"], min: 1 %>
                      <%= button_tag(raw(icon('fas', 'sync')), :id=>"button", :name=>"submit") %>
                    <% end %>
                  </div>
                  <input type="text" value="1">
                </div>
              </td>
              <td class="cart-product-sub-total"><span class="cart-sub-total-price">$<%= p_hash["price"] %></span></td>
              <td class="cart-product-grand-total"><span class="cart-grand-total-price">$<%= p_hash["total"] %></span></td>
            </tr>
            <%end%>
            <tr>
              <td class="romove-item"><a href="#" title="cancel" class="icon"><i class="fa fa-trash-o"></i></a></td>
              <td class="cart-image">
                <a class="entry-thumbnail" href="detail.html">
                  <img src="assets/images/products/p2.jpg" alt="">
                </a>
              </td>
              <td class="cart-product-name-info">
                <h4 class='cart-product-description'><a href="detail.html">Floral Print Buttoned</a></h4>
              </td>
              <td class="cart-product-quantity">
                <div class="cart-quantity">
                  <div class="quant-input">
                    <div class="arrows">
                      <div class="arrow plus gradient"><span class="ir"><i class="icon fa fa-sort-asc"></i></span></div>
                      <div class="arrow minus gradient"><span class="ir"><i class="icon fa fa-sort-desc"></i></span></div>
                    </div>
                    <input type="text" value="1">
                  </div>
                </div>
              </td>
              <td class="cart-product-sub-total"><span class="cart-sub-total-price">$300.00</span></td>
              <td class="cart-product-grand-total"><span class="cart-grand-total-price">$300.00</span></td>
            </tr>
            </tbody><!-- /tbody -->
          </table><!-- /table -->
        </div>
      </div><!-- /.shopping-cart-table -->

      <div class="col-md-4 col-sm-12 cart-shopping-total pull-right">
        <table class="table">
          <thead>
          <tr>
            <th>
              <div class="cart-sub-total">
                Subtotal<span class="inner-left-md">$<%= @subtotal%></span>
              </div>
            </th>
          </tr>
          </thead><!-- /thead -->
          <tbody>
          <tr>
            <td>
              <div class="cart-checkout-btn pull-right">
                <button type="submit" class="btn btn-primary checkout-btn">PROCCED TO CHEKOUT</button>
              </div>
            </td>
          </tr>
          </tbody><!-- /tbody -->
        </table><!-- /table -->
      </div><!-- /.cart-shopping-total -->			</div><!-- /.shopping-cart -->
  </div> <!-- /.row -->
</div>