<div class="col-xs-12 col-sm-12 col-md-3 sidebar">

  <!-- ================================== TOP NAVIGATION ================================== -->
  <div class="side-menu animate-dropdown outer-bottom-xs">
    <div class="head"><i class="icon fa fa-align-justify fa-fw"></i> Categories</div>
    <nav class="yamm megamenu-horizontal" role="navigation">
      <ul class="nav">

        <%= get_sidebar_categories(Category.all)%>

      </ul><!-- /.nav -->
    </nav><!-- /.megamenu-horizontal -->
  </div><!-- /.side-menu -->
  <!-- ================================== TOP NAVIGATION : END ================================== -->

  <!-- ============================================== HOT DEALS ============================================== -->
  <div class="sidebar-widget hot-deals wow fadeInUp outer-bottom-xs">
    <h3 class="section-title">Hot Deals</h3>
    <div class="owl-carousel sidebar-carousel custom-carousel owl-theme outer-top-ss">
      <% @products_hotdeal.each do |hot_products| %>
        <div class="item">
          <div class="products">
            <div class="hot-deal-wrapper">
              <div class="image">
                <%= image_tag hot_products.product_image.url(:thumb), alt: hot_products.product_name %>
              </div>
              <%unless hot_products.sale_price.blank?%>
                <div class="sale-offer-tag"><span><%= (100 - hot_products.sale_price / hot_products.price * 100).round(2) %>%<br>off</span></div>
              <%end%>
            </div><!-- /.hot-deal-wrapper -->

            <div class="product-info text-left m-t-20">
              <h3 class="name">
                <%= link_to hot_products.product_name, product_path(product: hot_products.id)%></h3>

              <% if hot_products.sale_price %>
                <div class="product-price">
								<span class="price">
									$<%= hot_products.sale_price %>
								</span>

                  <span class="price-before-discount">$<%= hot_products.price %></span>

                </div><!-- /.product-price -->
              <%else%>
                <div class="product-price">
								<span class="price">
									$<%= hot_products.price %>
								</span>
                </div>
              <%end%>

            </div><!-- /.product-info -->

            <div class="cart clearfix animate-effect">
              <div class="action">

                <div class="add-cart-button btn-group">
                  <button class="btn btn-primary icon" data-toggle="dropdown" type="button">
                    <i class="fa fa-shopping-cart"></i>
                  </button>
                  <button class="btn btn-primary cart-btn" type="button">Add to cart</button>

                </div>

              </div><!-- /.action -->
            </div><!-- /.cart -->
          </div>
        </div>
      <%end%>
    </div><!-- /.sidebar-widget -->
  </div>
  <!-- ============================================== HOT DEALS: END ============================================== -->


  <!-- ============================================== SPECIAL OFFER ============================================== -->

  <div class="sidebar-widget outer-bottom-small wow fadeInUp">
    <h3 class="section-title">Special Offer</h3>
    <div class="sidebar-widget-body outer-top-xs">
      <div class="owl-carousel sidebar-carousel special-offer custom-carousel owl-theme outer-top-xs">
        <div class="item">
          <div class="products special-product">
            <% @sale_products.each do |sale_product|%>
              <div class="product">
                <div class="product-micro">
                  <div class="row product-micro-row">
                    <div class="col col-xs-5">
                      <div class="product-image">
                        <div class="image">
                          <a href="detail.html">
                            <%= image_tag sale_product.product_image.url(:thumb), alt: sale_product.product_name%>
                          </a>
                        </div><!-- /.image -->
                      </div><!-- /.product-image -->
                    </div><!-- /.col -->
                    <div class="col col-xs-7">
                      <div class="product-info">
                        <h3 class="name"><%= link_to sale_product.product_name, product_path(product: sale_product.id)%></h3>
                        <% if sale_product.sale_price %>
                          <div class="product-price">
								<span class="price">
									$<%= sale_product.sale_price %>
								</span>

                            <span class="price-before-discount">$<%= sale_product.price %></span>

                          </div><!-- /.product-price -->
                        <%else%>
                          <div class="product-price">
								<span class="price">
									$<%= sale_product.price %>
								</span>
                          </div>
                          <%end%><!-- /.product-price -->

                      </div>
                    </div><!-- /.col -->
                  </div><!-- /.product-micro-row -->
                </div><!-- /.product-micro -->

              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div><!-- /.sidebar-widget-body -->
  </div><!-- /.sidebar-widget -->
  <!-- ============================================== SPECIAL OFFER : END ============================================== -->
  <!-- ============================================== NEWSLETTER ============================================== -->
  <div class="sidebar-widget newsletter wow fadeInUp outer-bottom-small">
    <h3 class="section-title">Newsletters</h3>
    <div class="sidebar-widget-body outer-top-xs">
      <p>Sign Up for Our Newsletter!</p>
      <form role="form">
        <div class="form-group">
          <label class="sr-only" for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Subscribe to our newsletter">
        </div>
        <button class="btn btn-primary">Subscribe</button>
      </form>
    </div><!-- /.sidebar-widget-body -->
  </div><!-- /.sidebar-widget -->
  <!-- ============================================== NEWSLETTER: END ============================================== -->




</div>