<div class="breadcrumb">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled">
        <li><%= link_to 'Home', root_url%></li>
        <li class='active'>Login</li>
      </ul>
    </div><!-- /.breadcrumb-inner -->
  </div><!-- /.container -->
</div><!-- /.breadcrumb -->

<div class="body-content">
  <div class="container">
    <div class="sign-in-page">
      <div class="row">
        <!-- Sign-in -->
        <div class="col-md-6 col-sm-6 sign-in">
          <h4 class="">Sign in</h4>
          <p class="">Hello, Welcome to your account.</p>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "register-form outer-top-xs") do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group">
              <%= f.label :email, class:"info-title" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control unicase-form-control text-input",
                                id:"exampleInputEmail1"%>
            </div>
            <div class="form-group">
              <%= f.label :password, class:"info-title" %>
              <%= f.password_field :password, autocomplete: "off", class:"form-control unicase-form-control text-input", id:"exampleInputPassword1"%>
            </div>
            <% if devise_mapping.rememberable? -%>
              <div class="radio outer-xs">
                <%= f.check_box :remember_me, id:"optionsRadios2" %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>
            <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Login</button>
          <%end%>
        </div>
        <!-- Sign-in -->

        <!-- create a new account -->
        <div class="col-md-6 col-sm-6 create-new-account">
          <h4 class="checkout-subtitle">Sign Up</h4>
          <p class="text title-tag-line">Create your new account.</p>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group">
              <%= f.label :email, class:"info-title" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control unicase-form-control text-input",
                                id:"exampleInputEmail2"%>
            </div>
            <div class="form-group">
              <%= f.label :full_name, class:"info-title" %>
              <%= f.text_field :full_name, autofocus: true, class: "form-control unicase-form-control text-input",
                               id:"exampleInputEmail1"%>
            </div>
            <div class="form-group">
              <%= f.label :phone_no, class:"info-title" %>
              <%= f.text_field :phone_no, autofocus: true, class: "form-control unicase-form-control text-input",
                               id:"exampleInputEmail1"%>
            </div>
            <div class="form-group">
              <%= f.label :password, class:"info-title" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off", class:"form-control unicase-form-control text-input" %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation, class:"info-title" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control unicase-form-control text-input", id:"exampleInputEmail1" %>
            </div>
            <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Sign Up</button>
          <%end%>


        </div>
        <!-- create a new account -->			</div><!-- /.row -->
    </div>
  </div><!-- /.container -->
</div>
