<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="MediaCenter, Template, eCommerce">
  <meta name="robots" content="all">
  <%= csrf_meta_tags %>

  <title>FoodKADY - Online Grocery Delivery Service</title>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="/assets/application/assets/css/bootstrap.min.css">

  <!-- Customizable CSS -->
  <link rel="stylesheet" href="/assets/application/assets/css/main.css">
  <link rel="stylesheet" href="/assets/application/assets/css/blue.css">
  <link rel="stylesheet" href="/assets/application/assets/css/owl.carousel.css">
  <link rel="stylesheet" href="/assets/application/assets/css/owl.transitions.css">
  <link rel="stylesheet" href="/assets/application/assets/css/animate.min.css">
  <link rel="stylesheet" href="/assets/application/assets/css/rateit.css">
  <link rel="stylesheet" href="/assets/application/assets/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="/assets/application/assets/css/font-awesome.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body class="cnt-home">
<%= render partial: 'layouts/application/header'%>

<div class="body-content outer-top-xs" id="top-banner-and-menu">
  <%= yield %>
</div>
<%= render partial: 'layouts/application/footer'%>
<%= render partial: 'layouts/application/scripts'%>
</body>
</html>