<div class="container">
  <div class="row">
    <%= render partial: 'layouts/application/sidebar'%>
    <div class="col-xs-12 col-sm-12 col-md-9 homebanner-holder">
      <div id="hero">
        <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">

          <% @banners.each do |banner|%>
            <div class="item" style='background-image: url(<%= banner.banner_image(:medium)%>);'>
              <div class="container-fluid">
                <div class="caption bg-color vertical-center text-left">
                <div class="big-text fadeInDown-1">
                  <%= banner.slideshow_banner_title%>
                </div>
                <% if !banner.slideshow_banner_subtitle.empty? %>
                  <div class="excerpt fadeInDown-2 hidden-xs">
                    <span><%= banner.slideshow_banner_subtitle%></span>
                  </div>
                <%end%>
                </div>
              </div>
            </div>
          <%end%>

        </div><!-- /.owl-carousel -->
      </div>
      <div class="info-boxes wow fadeInUp">
        <div class="info-boxes-inner">
          <div class="row">
            <div class="col-md-6 col-sm-4 col-lg-4">
              <div class="info-box">
                <div class="row">

                  <div class="col-xs-12">
                    <h4 class="info-box-heading green">money back</h4>
                  </div>
                </div>
                <h6 class="text">30 Days Money Back Guarantee</h6>
              </div>
            </div><!-- .col -->

            <div class="hidden-md col-sm-4 col-lg-4">
              <div class="info-box">
                <div class="row">

                  <div class="col-xs-12">
                    <h4 class="info-box-heading green">free shipping</h4>
                  </div>
                </div>
                <h6 class="text">Shipping on orders over $99</h6>
              </div>
            </div><!-- .col -->

            <div class="col-md-6 col-sm-4 col-lg-4">
              <div class="info-box">
                <div class="row">

                  <div class="col-xs-12">
                    <h4 class="info-box-heading green">Special Sale</h4>
                  </div>
                </div>
                <h6 class="text">Extra $5 off on all items </h6>
              </div>
            </div><!-- .col -->
          </div><!-- /.row -->
        </div><!-- /.info-boxes-inner -->

      </div>

      <section class="section featured-product wow fadeInUp">
        <h3 class="section-title">New Arrivals</h3>
        <div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs">
          <% @new_products.each do |new_product|%>
            <div class="item item-carousel">
              <div class="products">

                <div class="product">
                  <div class="product-image">
                    <div class="image">
                      <a href="detail.html">
                        <%= image_tag new_product.product_image.url(:thumb), alt: new_product.product_name%>
                      </a>
                    </div><!-- /.image -->
                    <% if new_product.hotdeal == true %>
                      <div class="tag hot"><span>hot</span></div>
                    <%end%>
                  </div><!-- /.product-image -->


                  <div class="product-info text-left">
                    <h3 class="name"><%= link_to new_product.product_name, '#'%></h3>

                    <% if new_product.sale_price %>
                      <div class="product-price">
								<span class="price">
									$<%= new_product.sale_price %>
								</span>

                        <span class="price-before-discount">$<%= new_product.price %></span>

                      </div><!-- /.product-price -->
                    <%else%>
                      <div class="product-price">
								<span class="price">
									$<%= new_product.price %>
								</span>
                      </div>
                    <%end%>

                  </div><!-- /.product-info -->
                  <div class="cart clearfix animate-effect">
                    <div class="action">
                      <ul class="list-unstyled">
                        <li></li>
                        <li class="add-cart-button btn-group">
                          <button class="btn btn-primary icon" data-toggle="dropdown" type="button">
                            <i class="fa fa-shopping-cart"></i>
                          </button>
                          <button class="btn btn-primary cart-btn" type="button">Add to cart</button>
                        </li>
                        <li></li>
                      </ul>
                    </div><!-- /.action -->
                  </div><!-- /.cart -->
                </div><!-- /.product -->

              </div><!-- /.products -->
            </div><!-- /.item -->
          <%end%>
        </div><!-- /.home-owl-carousel -->
      </section>


      <div id="product-tabs-slider" class="scroll-tabs outer-top-vs wow fadeInUp">
        <div class="more-info-tab clearfix ">
          <h3 class="new-product-title pull-left">Fruits & Vegetables</h3>
          <ul class="nav nav-tabs nav-tab-line pull-right" id="new-products-1">
            <li class="active"><a data-transition-type="backSlide" href="#all" data-toggle="tab">All</a></li>
            <li><a data-transition-type="backSlide" href="#Fruits" data-toggle="tab">Fruits</a></li>
            <li><a data-transition-type="backSlide" href="#Vegetables" data-toggle="tab">Vegetables</a></li>
            <li><a data-transition-type="backSlide" href="#Salad" data-toggle="tab">Salad</a></li>
          </ul><!-- /.nav-tabs -->
        </div>

        <div class="tab-content outer-top-xs">
          <div class="tab-pane in active" id="all">
            <div class="product-slider">
              <div class="owl-carousel home-owl-carousel custom-carousel owl-theme" data-item="4">
                <% @fruits_vegetables_products.each do |fruit_vegetable|%>
                  <div class="item item-carousel">
                    <div class="products">

                      <div class="product">
                        <div class="product-image">
                          <div class="image">
                            <%= link_to '#' do%>
                              <%= image_tag fruit_vegetable.product_image.url(:thumb), alt: fruit_vegetable.product_name%>
                            <%end%>
                          </div><!-- /.image -->

                          <% if fruit_vegetable.hotdeal == true %>
                            <div class="tag hot"><span>hot</span></div>
                          <%end%>
                        </div><!-- /.product-image -->


                        <div class="product-info text-left">
                          <h3 class="name"><%= link_to fruit_vegetable.product_name, '#' %></h3>
                          <% if fruit_vegetable.sale_price %>
                            <div class="product-price">
                              <span class="price">
                                $<%= fruit_vegetable.sale_price %>
                              </span>
                              <span class="price-before-discount">$<%= fruit_vegetable.price %></span>
                            </div><!-- /.product-price -->
                            <%else%>
                            <div class="product-price">
                              <span class="price">
                                $<%= fruit_vegetable.price %>
                              </span>
                            </div>
                            <%end%><!-- /.product-price -->

                        </div><!-- /.product-info -->
                        <div class="cart clearfix animate-effect">
                          <div class="action">
                            <ul class="list-unstyled">
                              <li class="add-cart-button btn-group">
                                <button class="btn btn-primary icon" data-toggle="dropdown" type="button">
                                  <i class="fa fa-shopping-cart"></i>
                                </button>
                                <button class="btn btn-primary cart-btn" type="button">Add to cart</button>
                              </li>
                            </ul>
                          </div><!-- /.action -->
                        </div><!-- /.cart -->
                      </div><!-- /.product -->

                    </div><!-- /.products -->
                  </div><!-- /.item -->
              <%end%>
              </div><!-- /.home-owl-carousel -->
            </div><!-- /.product-slider -->
          </div><!-- /.tab-pane -->

          <div class="tab-pane" id="Fruits">
            <div class="product-slider">
              <div class="owl-carousel home-owl-carousel custom-carousel owl-theme">

                <% @fruits_products.each do |fruit_vegetable|%>
                  <div class="item item-carousel">
                    <div class="products">

                      <div class="product">
                        <div class="product-image">
                          <div class="image">
                            <%= link_to '#' do%>
                              <%= image_tag fruit_vegetable.product_image.url(:thumb), alt: fruit_vegetable.product_name%>
                            <%end%>
                          </div><!-- /.image -->

                          <% if fruit_vegetable.hotdeal == true %>
                            <div class="tag hot"><span>hot</span></div>
                          <%end%>
                        </div><!-- /.product-image -->


                        <div class="product-info text-left">
                          <h3 class="name"><%= link_to fruit_vegetable.product_name, '#' %></h3>
                          <% if fruit_vegetable.sale_price %>
                            <div class="product-price">
                              <span class="price">
                                $<%= fruit_vegetable.sale_price %>
                              </span>
                              <span class="price-before-discount">$<%= fruit_vegetable.price %></span>
                            </div><!-- /.product-price -->
                          <%else%>
                            <div class="product-price">
                              <span class="price">
                                $<%= fruit_vegetable.price %>
                              </span>
                            </div>
                            <%end%><!-- /.product-price -->

                        </div><!-- /.product-info -->
                        <div class="cart clearfix animate-effect">
                          <div class="action">
                            <ul class="list-unstyled">
                              <li class="add-cart-button btn-group">
                                <button class="btn btn-primary icon" data-toggle="dropdown" type="button">
                                  <i class="fa fa-shopping-cart"></i>
                                </button>
                                <button class="btn btn-primary cart-btn" type="button">Add to cart</button>
                              </li>
                            </ul>
                          </div><!-- /.action -->
                        </div><!-- /.cart -->
                      </div><!-- /.product -->

                    </div><!-- /.products -->
                  </div><!-- /.item -->
                <%end%>
              </div><!-- /.home-owl-carousel -->
            </div><!-- /.product-slider -->
          </div><!-- /.tab-pane -->

          <div class="tab-pane" id="Vegetables">
            <div class="product-slider">
              <div class="owl-carousel home-owl-carousel custom-carousel owl-theme">
                <% @salad_products.each do |fruit_vegetable|%>
                  <div class="item item-carousel">
                    <div class="products">

                      <div class="product">
                        <div class="product-image">
                          <div class="image">
                            <%= link_to '#' do%>
                              <%= image_tag fruit_vegetable.product_image.url(:thumb), alt: fruit_vegetable.product_name%>
                            <%end%>
                          </div><!-- /.image -->

                          <% if fruit_vegetable.hotdeal == true %>
                            <div class="tag hot"><span>hot</span></div>
                          <%end%>
                        </div><!-- /.product-image -->


                        <div class="product-info text-left">
                          <h3 class="name"><%= link_to fruit_vegetable.product_name, '#' %></h3>
                          <% if fruit_vegetable.sale_price %>
                            <div class="product-price">
                              <span class="price">
                                $<%= fruit_vegetable.sale_price %>
                              </span>
                              <span class="price-before-discount">$<%= fruit_vegetable.price %></span>
                            </div><!-- /.product-price -->
                          <%else%>
                            <div class="product-price">
                              <span class="price">
                                $<%= fruit_vegetable.price %>
                              </span>
                            </div>
                            <%end%><!-- /.product-price -->

                        </div><!-- /.product-info -->
                        <div class="cart clearfix animate-effect">
                          <div class="action">
                            <ul class="list-unstyled">
                              <li class="add-cart-button btn-group">
                                <button class="btn btn-primary icon" data-toggle="dropdown" type="button">
                                  <i class="fa fa-shopping-cart"></i>
                                </button>
                                <button class="btn btn-primary cart-btn" type="button">Add to cart</button>
                              </li>
                            </ul>
                          </div><!-- /.action -->
                        </div><!-- /.cart -->
                      </div><!-- /.product -->

                    </div><!-- /.products -->
                  </div><!-- /.item -->
                <%end%>
              </div><!-- /.home-owl-carousel -->
            </div><!-- /.product-slider -->
          </div><!-- /.tab-pane -->

          <div class="tab-pane" id="Salad">
            <div class="product-slider">
              <div class="owl-carousel home-owl-carousel custom-carousel owl-theme">
                <% @fruits_products.each do |fruit_vegetable|%>
                  <div class="item item-carousel">
                    <div class="products">

                      <div class="product">
                        <div class="product-image">
                          <div class="image">
                            <%= link_to '#' do%>
                              <%= image_tag fruit_vegetable.product_image.url(:thumb), alt: fruit_vegetable.product_name%>
                            <%end%>
                          </div><!-- /.image -->

                          <% if fruit_vegetable.hotdeal == true %>
                            <div class="tag hot"><span>hot</span></div>
                          <%end%>
                        </div><!-- /.product-image -->


                        <div class="product-info text-left">
                          <h3 class="name"><%= link_to fruit_vegetable.product_name, '#' %></h3>
                          <% if fruit_vegetable.sale_price %>
                            <div class="product-price">
                              <span class="price">
                                $<%= fruit_vegetable.sale_price %>
                              </span>
                              <span class="price-before-discount">$<%= fruit_vegetable.price %></span>
                            </div><!-- /.product-price -->
                          <%else%>
                            <div class="product-price">
                              <span class="price">
                                $<%= fruit_vegetable.price %>
                              </span>
                            </div>
                            <%end%><!-- /.product-price -->

                        </div><!-- /.product-info -->
                        <div class="cart clearfix animate-effect">
                          <div class="action">
                            <ul class="list-unstyled">
                              <li class="add-cart-button btn-group">
                                <button class="btn btn-primary icon" data-toggle="dropdown" type="button">
                                  <i class="fa fa-shopping-cart"></i>
                                </button>
                                <button class="btn btn-primary cart-btn" type="button">Add to cart</button>
                              </li>
                            </ul>
                          </div><!-- /.action -->
                        </div><!-- /.cart -->
                      </div><!-- /.product -->

                    </div><!-- /.products -->
                  </div><!-- /.item -->
                <%end%>
              </div><!-- /.home-owl-carousel -->
            </div><!-- /.product-slider -->
          </div><!-- /.tab-pane -->

        </div><!-- /.tab-content -->
      </div><!-- /.scroll-tabs -->
      <!-- ============================================== SCROLL TABS : END ============================================== -->
      <!-- ============================================== WIDE PRODUCTS ============================================== -->
      <div class="wide-banners wow fadeInUp outer-bottom-xs">
        <div class="row">
          <div class="col-md-7 col-sm-7">
            <div class="wide-banner cnt-strip">
              <div class="image">
                <img class="img-responsive" src="assets/admin/assets/images/banners/home-banner1.jpg" alt="">
              </div>

            </div><!-- /.wide-banner -->
          </div><!-- /.col -->
          <div class="col-md-5 col-sm-5">
            <div class="wide-banner cnt-strip">
              <div class="image">
                <img class="img-responsive" src="assets/admin/assets/images/banners/home-banner2.jpg" alt="">
              </div>

            </div><!-- /.wide-banner -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.wide-banners -->

      <!-- ============================================== WIDE PRODUCTS ============================================== -->
      <div class="wide-banners wow fadeInUp outer-bottom-xs">
        <div class="row">

          <div class="col-md-12">
            <div class="wide-banner cnt-strip">
              <div class="image">
                <img class="img-responsive" src="assets/admin/assets/images/banners/home-banner.jpg" alt="">
              </div>
              <div class="strip strip-text">
                <div class="strip-inner">
                  <h2 class="text-right">New Mens Fashion<br>
                    <span class="shopping-needs">Save up to 40% off</span></h2>
                </div>
              </div>
              <div class="new-label">
                <div class="text">NEW</div>
              </div><!-- /.new-label -->
            </div><!-- /.wide-banner -->
          </div><!-- /.col -->

        </div><!-- /.row -->
      </div><!-- /.wide-banners -->
      <section class="section featured-product wow fadeInUp">
        <h3 class="section-title">Dairy</h3>
        <div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs">
          <% @dairy_products.each do |dairy_product|%>
            <div class="item item-carousel">
              <div class="products">

                <div class="product">
                  <div class="product-image">
                    <div class="image">
                      <a href="detail.html">
                        <%= image_tag dairy_product.product_image.url(:thumb), alt: dairy_product.product_name%>
                      </a>
                    </div><!-- /.image -->
                    <% if dairy_product.hotdeal == true %>
                      <div class="tag hot"><span>hot</span></div>
                    <%end%>
                  </div><!-- /.product-image -->


                  <div class="product-info text-left">
                    <h3 class="name"><%= link_to dairy_product.product_name, '#'%></h3>

                    <% if dairy_product.sale_price %>
                      <div class="product-price">
								<span class="price">
									$<%= dairy_product.sale_price %>
								</span>

                        <span class="price-before-discount">$<%= dairy_product.price %></span>

                      </div><!-- /.product-price -->
                    <%else%>
                      <div class="product-price">
								<span class="price">
									$<%= dairy_product.price %>
								</span>
                      </div>
                    <%end%>

                  </div><!-- /.product-info -->
                  <div class="cart clearfix animate-effect">
                    <div class="action">
                      <ul class="list-unstyled">
                        <li></li>
                        <li class="add-cart-button btn-group">
                          <button class="btn btn-primary icon" data-toggle="dropdown" type="button">
                            <i class="fa fa-shopping-cart"></i>
                          </button>
                          <button class="btn btn-primary cart-btn" type="button">Add to cart</button>
                        </li>
                        <li></li>
                      </ul>
                    </div><!-- /.action -->
                  </div><!-- /.cart -->
                </div><!-- /.product -->

              </div><!-- /.products -->
            </div><!-- /.item -->
          <%end%>
        </div><!-- /.home-owl-carousel -->
      </section>

      <section class="section featured-product wow fadeInUp">
        <h3 class="section-title">Pantry</h3>
        <div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs">
          <% @pantry_products.each do |pantry_product|%>
            <div class="item item-carousel">
              <div class="products">

                <div class="product">
                  <div class="product-image">
                    <div class="image">
                      <a href="detail.html">
                        <%= image_tag pantry_product.product_image.url(:thumb), alt: pantry_product.product_name%>
                      </a>
                    </div><!-- /.image -->
                    <% if pantry_product.hotdeal == true %>
                      <div class="tag hot"><span>hot</span></div>
                    <%end%>
                  </div><!-- /.product-image -->


                  <div class="product-info text-left">
                    <h3 class="name"><%= link_to pantry_product.product_name, '#'%></h3>

                    <% if pantry_product.sale_price %>
                      <div class="product-price">
								<span class="price">
									$<%= pantry_product.sale_price %>
								</span>

                        <span class="price-before-discount">$<%= pantry_product.price %></span>

                      </div><!-- /.product-price -->
                    <%else%>
                      <div class="product-price">
								<span class="price">
									$<%= pantry_product.price %>
								</span>
                      </div>
                    <%end%>

                  </div><!-- /.product-info -->
                  <div class="cart clearfix animate-effect">
                    <div class="action">
                      <ul class="list-unstyled">
                        <li></li>
                        <li class="add-cart-button btn-group">
                          <button class="btn btn-primary icon" data-toggle="dropdown" type="button">
                            <i class="fa fa-shopping-cart"></i>
                          </button>
                          <button class="btn btn-primary cart-btn" type="button">Add to cart</button>
                        </li>
                        <li></li>
                      </ul>
                    </div><!-- /.action -->
                  </div><!-- /.cart -->
                </div><!-- /.product -->

              </div><!-- /.products -->
            </div><!-- /.item -->
          <%end%>
        </div><!-- /.home-owl-carousel -->
      </section>

    </div><!-- /.homebanner-holder -->
    <!-- ============================================== CONTENT : END ============================================== -->
  </div><!-- /.row -->
</div>